/* 컬러 변수 */
:root {
  --point-color1: #ffce32;
  --point-color2: #009223;
  --point-color3: #76ca9e;
  --gray-400: #aca89f;
  --gray-500: #666;
  --gray-600: #000;
}

.top_titlearea h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--gray-600);
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid var(--gray-400);
}

table {
  border-collapse: collapse;
  margin: 1rem auto;
  background-color: white;
  width: 100%; /* 테이블 너비를 100%로 설정 */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 테이블에 그림자 추가 */
  border-radius: 8px; /* 테이블 모서리를 둥글게 */
  overflow: hidden; /* 테이블 내용이 넘치지 않도록 */
}

/* 테이블 헤더 */
th {
  background-color: #ffce32; /* 헤더 배경색 */
  color: white; /* 헤더 글자색 */
  line-height: 70px;
  font-weight: bold; /* 헤더 글자 굵게 */
  font-size: 16px; /* 헤더 글자 크기 */
  /* 텍스트 자동 넘김 */
  white-space: nowrap;
}

/* 테이블 행 */
th,
td {
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* 테이블 본문 행 */
tbody tr:hover {
  background-color: #f1f1f1; /* 행에 마우스를 올렸을 때 배경색 */
  opacity: 0.9;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* 짝수 행 배경색 */
}

/* 테이블 본문 행 */
tbody tr {
  transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

/* 테이블 본문 셀 */
td {
  line-height: 60px;
  font-size: 14px; /* 본문 글자 크기 */
  color: #333; /* 본문 글자 색 */
}

.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.paginate a {
  margin: 0 4px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.paginate a:hover {
  background-color: #ffce32;
  color: white;
}

.paginate a:hover::after,
.paginate a:hover::before {
  border-color: white;
}

.paginate a.first,
.paginate a.last {
  font-weight: bold;
}

.paginate ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.paginate li {
  margin: 0 4px;
}

.paginate a.this {
  background-color: #ffce32;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #ffce32;
}

#orderList,
#memberList {
	min-height: 600px;
}
