#header {
  max-width: 898px;
  width: inherit;
  margin: 0 auto;
}

#header .head_top {
 position: relative;
 padding: 18px 0;
 text-align: center;
 vertical-align: top;
 background: #fff;
}