#header {
  max-width: 1903px;
  margin: 0 auto;
  position: unset;
  border: unset;
}

#header .top_head {
  position: relative;
  padding: 18px 0;
  text-align: center;
  vertical-align: top;
  background: #fff;
  width: 898px;
  margin: 0 auto;
  border-left: 1px solid #d7d5d5;
  border-right: 1px solid #d7d5d5;
}

#header .top_head h2 {
  margin: 0 95px;
  font-size: 18px;
  text-align: center;
  color: #000;
}

#header .left_menu {
  position: absolute;
  top: 50%;
  margin-top: -15px;
}

#header .left_menu:after {
  content: '';
  clear: both;
  display: block;
}

#header .left_menu .back_btn a {
  display: block;
  position: relative;
  height: 30px;
}

#header .left_menu .back_btn a:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 9px;
  width: 10px;
  height: 17px;
  background: url(../images/common/pay_header.png) no-repeat 0 0;
  background-size: 90px auto;
}

#header .right_menu {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  margin-top: 0;
  z-index: 10;
  display: flex;
}

#header .right_menu .other_btn>a {
  background: url(../images/common/pay_header.png) no-repeat -30px 0;
  background-size: 90px auto;
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

#header .right_menu .other_btn .count {
  position: absolute;
  right: 48px;
  top: 2px;
  min-width: 14px;
  padding: 0 2px;
  height: 14px;
  border-radius: 14px;
  font-weight: bold;
  font-size: 9px;
  line-height: 13px;
  color: #fff;
  text-align: center;
  background: #ff0000;
}

#header .right_menu .person {
  background: url(../images/common/pay_header.png) no-repeat -60px 0;
  background-size: 90px auto;
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.title_area {
  width: 898px;
  margin: 0 auto;
  /* 위쪽에 30px 간격을 추가 */
  background: #000;
}

.title_area h2 {
  position: relative;
  padding: 0 42px;
  line-height: 60px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  border: 1px solid #D7D7D7;
  border-right: 0;
  border-left: 0;
}


.order_bord {
  width: 899px;
  margin: 0 auto;
  border-left: 1px solid #d7d5d5;
  border-right: 1px solid #d7d5d5;
  background: #EDEDED;
  height: 12px;
}


.shop_title {
  width: 900px;
  margin: 0 auto;
  height: 722px;
  border-left: 1px solid #d7d5d5;
  border-right: 1px solid #d7d5d5;
  border-bottom: 1px solid #d7d5d5;

}


.shop_title .delivery.active:after {
  transform: rotate(-135deg);
}

.shop_title .delivery {
  height: 67px;
  border-bottom: 1px solid #d7d5d5;
  padding: 20px 16px;
  position: relative;
}

.shop_title .delivery:after {
  position: absolute;
  top: 26px;
  right: 20px;
  content: '';
  width: 12px;
  height: 12px;
  display: inline-block;
  border: 2px solid #BCBCBC;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  cursor: pointer;
  transition: transform 0.3s ease;
}



.shop_title .delivery.active+.base_table {
  display: none;
}

.shop_title .delivery.active:after {
  transform: rotate(-135deg);
}

.shop_title .delivery h2 {
  margin: 0 10px 0 0;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  line-height: 28px;
  cursor: pointer;
}

.shop_title ul {
  display: flex;
  margin-bottom: 22px;
  font-size: 16px;
  font-weight: 400;
  height: 53px;
  position: relative;
  z-index: 1
}

.shop_title li {
  display: flex;
  flex: 1;
  border-left: 1px solid #d7d5d5;
  border-bottom: 1px solid #d7d5d5;
  background: #f8f9fa;
  align-items: center;
  justify-content: center;
}

.shop_title .recent_addr a {
  color: #797979
}

.shop_title .recent_addr {
  cursor: pointer;
}

.shop_title .direct_input {
  font-weight: 500;
  color: #000;
  background: #fff;
  border-bottom: none;
  cursor: pointer;
}

.shop_title .same_addr {
  padding: 0 6px 15px;
  margin-right: 50px;
}

.shop_title .same_addr label {
  font-size: 16px;
  padding-left: unset;
  padding-left: 10px;
}

.shop_title .same_addr input[type="radio"] {
  margin-left: 7px;
  width: 22px;
  height: 22px;
  border: 0;
  cursor: pointer;
  background: url(//img.echosting.cafe24.com/skin/mobile/common/bg_newRadio.png) no-repeat 0 0;
  background-size: 22px 22px;
}

.shop_title .same_addr input[type="radio"]:checked:after {
  content: "";
  /* 필수: content 속성 추가 */
  display: inline-block;
  /* 필수: inline-block 설정 */
  width: 22px;
  /* 체크된 이미지의 너비 */
  height: 22px;
  /* 체크된 이미지의 높이 */
  background-image: url(//img.echosting.cafe24.com/skin/mobile/common/bg_newRadio_checked.png);
  background-size: cover;
  /* 배경 이미지를 전체 영역에 맞추기 */
}

/* label에 기본 스타일 추가 (예: position) */
.shop_title .same_addr label {
  position: relative;
  /* :after의 위치를 위해 */
  cursor: pointer;
  /* 라벨 클릭 시 커서 모양 변경 */
}

.shop_title .recent_addr,
.shop_title .direct_input {
  position: relative;
  /* 사라지는 문제를 방지하기 위해 설정 */
}

.base_table .rcv_man input {
  width: 776px;
  height: 42px;
  padding: 10px 11px 10px 10px;
}

.base_table label {
  padding: 16px 16px 12px 16px;
  font-weight: 400;
  text-align: left;
  font-weight: 400;
  font-size: 15px;
}

.base_table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* 상하 요소 간의 간격 */
  border-bottom: 1px solid #d7d5d5;
  padding-bottom: 20px;
}

.addr_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.addr_container label {
  width: 90px;
  white-space: nowrap;
}

.addr_container input {
  width: 25%;
  height: 42px;
}

.addr_container .search_btn {
  width: 100px;
  /* 버튼의 너비 */
  height: 45px;
  color: #fff;
  background-color: #222222;
  border: 1px solid #222222;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.addr_container .search_btn:hover {
  background-color: #444444;
  transform: translateY(-2px);
}

.addr_container .search_btn:active {
  background-color: #111111;
  transform: translateY(0);
}


.addr1 input {
  width: 776px;
  margin-left: 100px;
  height: 42px;
}

.addr1 .basic {
  margin-bottom: 15px;
}


.tel {
  display: flex;
  gap: 6px;
}

.tel .mobile {
  margin-top: 8px;
}

.tel input {
  width: 249px;
  height: 45px;
  margin-top: 8px;
}

.tel span {
  display: block;
  line-height: 60px;
  font-size: 17px;
}

.tel .mobile {
  width: 243px;
  height: 45px;
  background: #fff url(/images/icon_arrow_down.svg) no-repeat right 10px center;
  padding: 0 30px 0 10px;
  font-size: 12px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.email input {
  width: 383px;
  height: 42px;
  margin-left: 16px;
  margin-right: 6px;
}

.email .choose_mail {
  width: 371px;
  height: 42px;
  padding: 0 20px 0 10px;
  line-height: 40px;
  color: #333;
  background: #fff url(../images/common/ico_select.png) no-repeat 100% 50%;
  background-size: auto 40px;

}

.choose_msg {
  padding: 20px 16px 25px;
}

.choose_msg .message_select {
  padding: 0 20px 0 15px;
  width: 866px;
  height: 42px;
  background: #fff url(../images/common/ico_select.png) no-repeat 100% 50%;
  background-size: auto 40px;
  line-height: 40px;
  color: #333;
  word-break: break-all;
  border: 1px solid #C5C5C5;
}


.save_addr input[type='checkbox'] {
  margin: 0;
  width: 20px;
  height: 20px;
  border: 0;
  cursor: pointer;
  background: url(//img.echosting.cafe24.com/skin/mobile/common/bg_newCheckbox.png) no-repeat 0 0;
  background-size: 20px 20px;
  margin-top: 16px;
}

.save_addr input[type='checkbox']:checked:after {
  background-image: url(//img.echosting.cafe24.com/skin/mobile/common/bg_newCheckbox_checked.png);
  content: "";
  /* 필수: content 속성 추가 */
  display: inline-block;
  /* 필수: inline-block 설정 */
  width: 22px;
  /* 체크된 이미지의 너비 */
  height: 22px;
  background-size: cover;
}


.save_addr label {
  font-size: 15px;
  padding: 0;
  margin-top: 15px;
}

.more_title {
  width: 900px;
  margin: 0 auto;
  border-left: 1px solid #d7d5d5;
  border-right: 1px solid #d7d5d5;
  border-bottom: 1px solid #d7d5d5;
  position: relative;
}

.more_title:after {
  position: absolute;
  top: 26px;
  right: 20px;
  content: '';
  width: 12px;
  height: 12px;
  display: inline-block;
  border: 2px solid #BCBCBC;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.more_title.active:after {
  transform: rotate(-135deg);
}

.more_title h2 {
  margin: 0 10px 0 0;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  line-height: 27px;
  cursor: pointer;
  padding: 20px 16px;
}

.more_table.hidden-content {
  display: none;
}




.more_title .gift {
  padding: 0 16px 30px;
  display: flex;
}

.more_title .gift h3 {
  color: #383838;
  font-size: 15px;
  margin-right: 60px;
  padding: 10px 0;
}

.more_title .gift .more_msg {
  width: 751px;
  height: 216px;
  padding: 10px;
  /* 기본적인 여백을 위해 추가 */
  vertical-align: top;
  /* 커서를 맨 위로 정렬 */
  line-height: 1.5;
  background: #fff;
  border: 1px solid #d7d5d5;
}

.order_form {
  width: 900px;
  margin: 0 auto;
  border-left: 1px solid #d7d5d5;
  border-right: 1px solid #d7d5d5;
  border-bottom: 1px solid #d7d5d5;
  position: relative;
}

.order_form:after {
  position: absolute;
  top: 26px;
  right: 20px;
  content: '';
  width: 12px;
  height: 12px;
  display: inline-block;
  border: 2px solid #BCBCBC;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.order_form.active:after {
  transform: rotate(-135deg);
}


.order_form h2 {
  margin: 0 10px 0 0;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  line-height: 27px;
  cursor: pointer;
  padding: 20px 16px;
}

.buy_table.hidden-content {
  display: none;
}


.probox {
  display: flex;
}


.probox .thumbnail img {
  width: 88px;
  height: 90px;
  margin-right: 20px;
  margin-left: 15px;
  border: 1px solid #ddd;
}

.probox .description {
  font-size: 14px;
  width: 85%;
}

.probox .description .proname {
  color: #000000;
  display: block;
  margin-bottom: 5px;
}

.probox .description .number,
.probox .description .price {
  font-size: 15px;
  color: #000000;
}

.probox .description .number p {
  margin-bottom: 12px;
}


.probox .description .price p {
  margin-bottom: 12px;
}

.probox .btnRemove {
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid #b5b5b5;
  border-radius: 2px;
  margin: 0 0 0 4px;
  text-indent: 150%;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  background-color: #fff;
  left: -3%;
}

.probox .btnRemove:before {
  position: absolute;
  top: 50%;
  left: 4px;
  content: "";
  width: 14px;
  height: 1px;
  background: #7b7d8a;
  transform: rotate(-45deg);
}

.probox .btnRemove:after {
  position: absolute;
  top: 50%;
  left: 4px;
  content: "";
  width: 14px;
  height: 1px;
  background: #7b7d8a;
  transform: rotate(-135deg);
}





.probox2 {
  display: flex;
  margin-top: 20px;
  border-top: 1px dashed #D5D5D5;
  padding: 15px 0 0;
}


.probox2 .thumbnail img {
  width: 88px;
  height: 90px;
  margin-right: 20px;
  margin-left: 15px;
  border: 1px solid #ddd;
}

.probox2 .description {
  font-size: 14px;
}

.probox2 .description .proname {
  color: #000000;
  display: block;
  margin-bottom: 5px;
}

.probox2 .description .number,
.probox2 .description .price {
  font-size: 15px;
  color: #000000;
}

.probox2 .description .number p {
  margin-bottom: 12px;
}


.probox2 .description .price p {
  margin-bottom: 12px;
}

.probox2 .btnRemove {
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid #b5b5b5;
  border-radius: 2px;
  margin: 0 0 0 4px;
  text-indent: 150%;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  background-color: #fff;
  left: 56%;
}

.probox2 .btnRemove:before {
  position: absolute;
  top: 50%;
  left: 4px;
  content: "";
  width: 14px;
  height: 1px;
  background: #7b7d8a;
  transform: rotate(-45deg);
}

.probox2 .btnRemove:after {
  position: absolute;
  top: 50%;
  left: 4px;
  content: "";
  width: 14px;
  height: 1px;
  background: #7b7d8a;
  transform: rotate(-135deg);
}

.price_title {
  display: flex;
  height: 45px;
  padding: 11px 16px 11px 16px;
  background: #F8F9FA;
  margin-top: 10px;
  justify-content: space-between;
}

.price_title h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #606060;
}

.price_title .dlprice {
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  line-height: 20px;
}

.discount {
  width: 900px;
  margin: 0 auto;
  border-left: 1px solid #d7d5d5;
  border-right: 1px solid #d7d5d5;
  border-bottom: 1px solid #d7d5d5;
  position: relative;
}


.discount:after {
  position: absolute;
  top: 26px;
  right: 20px;
  content: '';
  width: 12px;
  height: 12px;
  display: inline-block;
  border: 2px solid #BCBCBC;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.discount.active:after {
  transform: rotate(-135deg);
}



.dis_table.hidden-content {
  display: none;
}



.discount h2 {
  margin: 0 10px 0 0;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  line-height: 27px;
  cursor: pointer;
  padding: 20px 16px;
}

.discount .dis_detail {
  height: 42px;
  padding: 0 16px 20px;
  display: flex;
  position: relative;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(130, 130, 130, 0.25);
}

.discount .dis_detail h3 {
  font-size: 16px;
}

.discount .dis_detail h3:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 90px;
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 2px solid #BCBCBC;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  cursor: pointer;
}

.discount .dis_detail .dis_price {
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  line-height: 20px;
}

.discount .dis_detail2 {
  height: 42px;
  padding: 0 16px 20px;
  display: flex;
  position: relative;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  margin-top: 10px;
}

.discount .dis_detail2 h3:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 1px solid #383838;
  border-top: 0;
  border-right: 0;
  margin: 0 5px 3px 0;
}

.discount .dis_detail2 h3 {
  font-size: 13px;

}


.discount .dis_detail .dis_period {
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  line-height: 20px;
}

.discount .membership {
  height: 42px;
  padding: 20px 16px;
  font-size: 16px;
  display: flex;
}

.discount .membership h3 {
  margin-right: 22px;
  font-size: 16px;
  font-weight: 400;
  color: #383838;
  line-height: 42px;
}

.discount .membership input {
  width: 80%;
}

.membership .use_btn {
  width: 100px;
  /* 버튼의 너비 */
  height: 40px;
  color: #fff;
  background-color: #222222;
  border: 1px solid #222222;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.membership .use_btn:hover {
  background-color: #444444;
  transform: translateY(-2px);
}

.membership .use_btn:active {
  background-color: #111111;
  transform: translateY(0);
}

.balance {
  padding-top: 25px;
  text-align: right;
  padding-right: 20px;
}

.balance .summary {
  font-size: 15px;
  font-size: 15px;
  color: #383838;
}

.expand {
  margin-top: 20px;
  padding: 13px 20px;
  background-color: #F8F9FA;
  height: 120px;
  width: 866px;
  margin-left: 14px;
}

.expand .moneywrap p {
  font-size: 13px;
  font-weight: 500;
  color: #383838;
  text-align: left;
  line-height: 24px;
}

.expand .moneywrap .buy {
  position: relative;
}


.expand .moneywrap .buy:after {
  position: absolute;
  display: inline-block;
  content: '';
  top: 3px;
  right: 2px;
  height: 8px;
  width: 8px;
  vertical-align: middle;
  border: 1px solid #7b7d8a;
  border-left-width: 0;
  border-top-width: 0;
  transform: rotate(-135deg);
  cursor: pointer;
}

.totalpay {
  height: 50px;
  padding: 15px 16px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  word-wrap: break-word;
  word-break: break-all;
  background: #F6F6F6;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.totalpay h3 {
  font-size: 15px;
  color: #000;
  font-weight: 500;
  line-height: 27px;
}

.payinfo {
  width: 900px;
  margin: 0 auto;
  border-left: 1px solid #d7d5d5;
  border-right: 1px solid #d7d5d5;
  border-bottom: 1px solid #d7d5d5;
  position: relative;
}


.payinfo:after {
  position: absolute;
  top: 26px;
  right: 20px;
  content: '';
  width: 12px;
  height: 12px;
  display: inline-block;
  border: 2px solid #BCBCBC;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.payinfo.active:after {
  transform: rotate(-135deg);
}



.info_table.hidden-content {
  display: none;
}



.payinfo h2 {
  margin: 0 10px 0 0;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  line-height: 27px;
  cursor: pointer;
  padding: 20px 16px;
}

.payinfo .sagment {
  height: 30px;
  padding: 0 16px 20px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.payinfo .sagment h3 {
  font-size: 16px;
  color: #383838;
}

.payinfo .sagment .order_price {
  font-weight: 700;
  color: #383838;
  font-size: 16px;
}

.payinfo .sagment .more_price {
  color: #DC2C2C;
  font-weight: 700;
  font-size: 16px;
}

.dis_basic {
  width: 866px;
  display: flex;
  gap: 10px;
  margin-left: 15px;
  margin-top: 6px;
  padding: 12px 10px;
  border-top: 1px dashed rgba(130, 130, 130, 0.25);
  border-bottom: 1px dashed rgba(130, 130, 130, 0.25);
  justify-content: space-between;
}

.dis_basic i {
  background-image: url(../images/common/ico_auto.png);
  position: absolute;
  top: 173px;
  left: 20px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
}

.dis_basic h3 {
  margin-left: 20px;
}

.payment {
  height: 50px;
  padding: 0 16px 20px;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 30px;
  background: #F4F7FF;
  line-height: 50px;
}

.payment h3 {
  font-size: 15px;
  color: #000;
  font-weight: 500;
  cursor: pointer;
}


.payment .order_price {
  font-weight: 700;
  color: #383838;
  font-size: 16px;
}

.paymethod {
  margin: 0 auto;
  border-left: 1px solid #d7d5d5;
  border-right: 1px solid #d7d5d5;
  border-bottom: 1px solid #d7d5d5;
  position: relative;
  min-height: 630px;
}


.paymethod:after {
  position: absolute;
  top: 26px;
  right: 20px;
  content: '';
  width: 12px;
  height: 12px;
  display: inline-block;
  border: 2px solid #BCBCBC;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.paymethod h2 {
  margin: 0 10px 0 0;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  line-height: 27px;
  cursor: pointer;
  padding: 20px 16px;
}

.paymethod.active:after {
  transform: rotate(-135deg);
}



.mt_table.hidden-content {
  /* display: none; */
}

.paychoice h3 {
  font-size: 15px;
  display: inline-block;
  margin-left: 16px;
  padding: 0 0 20px 0;
  font-weight: 400;
  color: #383838;
}

.payinner {
  width: 866px;
  border: 1px solid #EBEBEB;
  margin-left: 15px;
  cursor: pointer;
}

.payinner .cardpay {
  border-bottom: 1px solid #EBEBEB;
  padding: 17px 25px 16px;
}

.payinner .cardpay.pay_active {
  border: 1px solid #3971FF;
}

.payinner .deposit.pay_active {
  border: 1px solid #3971FF;
}

.payinner .cardpay img,
.deposit img {
  filter: grayscale(1);
  opacity: 1;
}

.payinner .cardpay.pay_active img,
.payinner .deposit.pay_active img {
  filter: grayscale(0);
}

.payinner .deposit {
  padding: 17px 25px 16px;
}

.paycard {
  display: flex;
  flex-direction: column;
  width: 866px;
  height: 270px;
  margin-left: 15px;
  margin-top: 10px;
  background-color: #FAFAFD;
  border: 1px solid #EAEAEA;
  gap: 25px;
  margin-bottom: 60px;
}

.paycard label {
  padding: 16px 0 12px 16px;
  font-weight: 500;
  text-align: left;
  font-size: 15px;
  margin-top: 10px;
  margin-right: 30px;
}

.paycard .more_card {
  margin-top: 20px;
}

.paycard .more_card .cardSelect {
  width: 85%;
  height: 42px;
  max-width: 100%;
  margin: 0;
  padding: 0 20px 0 10px;
  line-height: 40px;
  color: #333;
  word-break: break-all;
  border: 1px solid #C5C5C5;
  background: #fff url(//img.echosting.cafe24.com/skin/mobile/common/ico_select.gif) no-repeat 100% 50%;
  background-size: auto 40px;
}

.paycard .period .cardone {
  width: 85%;
  height: 42px;
  max-width: 100%;
  margin: 0;
  padding: 0 20px 0 10px;
  line-height: 40px;
  color: #333;
  word-break: break-all;
  border: 1px solid #C5C5C5;
  background: #fff url(//img.echosting.cafe24.com/skin/mobile/common/ico_select.gif) no-repeat 100% 50%;
  background-size: auto 40px;
}

.paycard .period .basehelp {
  margin-left: 105px;
}

.paycard .period .certi {
  color: #000;
  border: 1px solid #b5b5b5;
  background: #fff;
  height: 42px;
  width: 142px;
  font-size: 14px;
}

.paycard .period .click {
  color: #000;
  border: 1px solid #b5b5b5;
  background: #fff;
  height: 42px;
  width: 105px;
  font-size: 14px;
}

.paycard .period .isp {
  color: #000;
  border: 1px solid #b5b5b5;
  background: #fff;
  height: 42px;
  width: 134px;
  font-size: 14px;
}

.paycard .more_letter {
  padding: 4px 0px 0px 22px;
}


.paybank {
  display: none;
  flex-direction: column;
  width: 866px;
  height: 287px;
  margin-left: 15px;
  margin-top: 10px;
  background-color: #FAFAFD;
  border: 1px solid #EAEAEA;
  gap: 15px;
}

.paybank label {
  padding: 16px 0 12px 16px;
  font-weight: 500;
  text-align: left;
  font-size: 15px;
  margin-right: 30px;
}


.paybank .deposit1 {
  margin-top: 10px;
}

.paybank .deposit1 .bankaccount {
  width: 85%;
  height: 42px;
  max-width: 100%;
  margin: 0;
  padding: 0 20px 0 10px;
  line-height: 40px;
  color: #333;
  word-break: break-all;
  border: 1px solid #C5C5C5;
  background: #fff url(//img.echosting.cafe24.com/skin/mobile/common/ico_select.gif) no-repeat 100% 50%;
  background-size: auto 40px;
}

.paybank .deposit2 .txt_name {
  width: 85%;
  height: 42px;
  max-width: 100%;
  margin: 0;
  padding: 0 20px 0 10px;
  line-height: 40px;
  color: #333;
}

.paybank .deposit3 h3 {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  line-height: 22px;
  margin-left: 16px;
}



.paybank .deposit3 input[type="radio"] {
  margin-left: 15px;
  width: 22px;
  height: 22px;
  border: 0;
  cursor: pointer;
  background: url(//img.echosting.cafe24.com/skin/mobile/common/bg_newRadio.png) no-repeat 0 0;
  background-size: 22px 22px;
}

.paybank .deposit3 input[type="radio"]:checked:after {
  content: "";
  /* 필수: content 속성 추가 */
  display: inline-block;
  /* 필수: inline-block 설정 */
  width: 22px;
  /* 체크된 이미지의 너비 */
  height: 22px;
  /* 체크된 이미지의 높이 */
  background-image: url(//img.echosting.cafe24.com/skin/mobile/common/bg_newRadio_checked.png);
  background-size: cover;
  /* 배경 이미지를 전체 영역에 맞추기 */
}

/* label에 기본 스타일 추가 (예: position) */
.paybank .deposit3 label {
  position: relative;
  /* :after의 위치를 위해 */
  cursor: pointer;
  /* 라벨 클릭 시 커서 모양 변경 */
  padding: unset;
  margin-top: 20px;
  margin-left: 5px;
}


input[type='radio']+label:before {
  display: none;
}


input[type='radio']:checked+label:after {
  display: none;
}

.paybank .deposit4 input[type="radio"] {
  margin-left: 15px;
  width: 22px;
  height: 22px;
  border: 0;
  cursor: pointer;
  background: url(//img.echosting.cafe24.com/skin/mobile/common/bg_newRadio.png) no-repeat 0 0;
  background-size: 22px 22px;
}

.paybank .deposit4 input[type="radio"]:checked:after {
  content: "";
  /* 필수: content 속성 추가 */
  display: inline-block;
  /* 필수: inline-block 설정 */
  width: 22px;
  /* 체크된 이미지의 너비 */
  height: 22px;
  /* 체크된 이미지의 높이 */
  background-image: url(//img.echosting.cafe24.com/skin/mobile/common/bg_newRadio_checked.png);
  background-size: cover;
  /* 배경 이미지를 전체 영역에 맞추기 */
}

/* label에 기본 스타일 추가 (예: position) */
.paybank .deposit4 label {
  position: relative;
  /* :after의 위치를 위해 */
  cursor: pointer;
  /* 라벨 클릭 시 커서 모양 변경 */
  padding: unset;
}


.paybank .deposit4 label {
  padding: unset;
  margin-left: 5px;

}

.paybank .deposit4 .tel {
  margin-left: 45px;
}



.paybank .nextuse label {
  margin-top: 20px;
  margin-left: 0;
}


.paybank .deposit4 .nextuse input[type='checkbox'] {
  margin-top: 11px;
  width: 20px;
  height: 20px;
  border: 0;
  cursor: pointer;
  background: url(//img.echosting.cafe24.com/skin/mobile/common/bg_newCheckbox.png) no-repeat 0 0;
  background-size: 20px 20px;
  margin-bottom: 1px;
}

.paybank .deposit4 .nextuse input[type='checkbox']:checked:after {
  background-image: url(//img.echosting.cafe24.com/skin/mobile/common/bg_newCheckbox_checked.png);
  content: "";
  /* 필수: content 속성 추가 */
  display: inline-block;
  /* 필수: inline-block 설정 */
  width: 22px;
  /* 체크된 이미지의 너비 */
  height: 22px;
  background-size: cover;
}

.nextuse {
  line-height: 2px;
}

.nextuse label {
  padding: unset;
}

.nextuse input[type='checkbox'] {
  margin-top: 2px;
  width: 20px;
  height: 20px;
  border: 0;
  cursor: pointer;
  background: url(//img.echosting.cafe24.com/skin/mobile/common/bg_newCheckbox.png) no-repeat 0 0;
  background-size: 20px 20px;
  margin-bottom: 1px;
}

.nextuse input[type='checkbox']:checked:after {
  background-image: url(//img.echosting.cafe24.com/skin/mobile/common/bg_newCheckbox_checked.png);
  content: "";
  /* 필수: content 속성 추가 */
  display: inline-block;
  /* 필수: inline-block 설정 */
  width: 22px;
  /* 체크된 이미지의 너비 */
  height: 22px;
  background-size: cover;
}



.earn {
  position: relative;
  border-left: 1px solid #d7d5d5;
  border-right: 1px solid #d7d5d5;
}

.earn h2 {
  margin: 0 10px 0 0;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  line-height: 27px;
  cursor: pointer;
  padding: 20px 16px;
}

.earn h2:after {
  position: absolute;
  top: 26px;
  right: 20px;
  content: '';
  width: 12px;
  height: 12px;
  display: inline-block;
  border: 2px solid #BCBCBC;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.earn .sagment {
  height: 30px;
  padding: 0 16px 20px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.earn .sagment h3 {
  font-size: 16px;
  color: #383838;
}

.earn .sagment .order_price {
  font-weight: 700;
  color: #383838;
  font-size: 16px;
}

.earn .sagment .more_price {
  color: #383838;
}

.earn.active:after {
  transform: rotate(-135deg);
}


.totalpay2 {
  height: 50px;
  padding: 15px 16px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  word-wrap: break-word;
  word-break: break-all;
  background: #F6F6F6;
  display: flex;
  justify-content: space-between;
  border-left: 1px solid #d7d5d5;
  border-right: 1px solid #d7d5d5;
}

.totalpay2 h3 {
  font-size: 15px;
  font-weight: 500;
}

.agree {
  height: 132px;
  display: flex;
  flex-direction: column;
}

.agree .all_agr {
  padding: 20px 0px 16px;
  margin: 0 16px;
  border-bottom: 1px solid #eaeaea;
  font-size: 16px;
  font-weight: 700;
  color: #333;

}

.agree .service {
  padding: 20px 0px 16px;
  margin: 0 16px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

input[type='checkbox']+label:before {
  display: none;
}


input[type='checkbox']:checked+label:after {
  display: none;
}

.agree .all_agr input[type='checkbox'] {
  margin: 0;
  width: 20px;
  height: 20px;
  border: 0;
  cursor: pointer;
  background: url(//img.echosting.cafe24.com/skin/mobile/common/bg_newCheckbox.png) no-repeat 0 0;
  background-size: 20px 20px;
  margin-bottom: 1px;
}

.agree .all_agr input[type='checkbox']:checked:after {
  background-image: url(//img.echosting.cafe24.com/skin/mobile/common/bg_newCheckbox_checked.png);
  content: "";
  /* 필수: content 속성 추가 */
  display: inline-block;
  /* 필수: inline-block 설정 */
  width: 22px;
  /* 체크된 이미지의 너비 */
  height: 22px;
  background-size: cover;
}

.agree .service input[type='checkbox'] {
  margin: 0;
  width: 20px;
  height: 20px;
  border: 0;
  cursor: pointer;
  background: url(//img.echosting.cafe24.com/skin/mobile/common/bg_newCheckbox.png) no-repeat 0 0;
  background-size: 20px 20px;
  margin-bottom: 1px;
}

.agree .service input[type='checkbox']:checked:after {
  background-image: url(//img.echosting.cafe24.com/skin/mobile/common/bg_newCheckbox_checked.png);
  content: "";
  /* 필수: content 속성 추가 */
  display: inline-block;
  /* 필수: inline-block 설정 */
  width: 22px;
  /* 체크된 이미지의 너비 */
  height: 22px;
  background-size: cover;
}

.paybtn {
  height: 50px;
  width: 100%;
  background: #000000;

}

.paybtn .price_view {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

.helparea {
  height: 150px;
  padding: 30px 16px;
  margin-bottom: -25px;
  background: #FAFAFD;
}

.helparea p:before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 5px;
  height: 1px;
  background: #999;
}

.helparea p {
  padding: 0 0 23px 9px;
  font-size: 12px;
  position: relative;
  font-weight: 500;
}