.edit_wrap {
    max-width: 1920px;
    min-height: 800px;
    padding: 120px 80px 30px;
    margin: 0 auto;
    position: relative;
}


.path ol {
    float: right;
    display: flex;
}

.path li:first-child a::before {
    content: 'Home';
    color: currentColor;
    font-size: 12px;
}

.path li:not(:first-child):before {
    content: "/";
    display: inline-block;
    margin: 0 4px 0 2px;
    color: #7d7d7d;
    font-size: 10px;
    vertical-align: middle;

}


.title h2 {
    padding: 35px 0 45px;
    text-align: center;
    font-size: 24px;
}

.title_area {
    margin-bottom: 20px;
}


.title_area h3 {
    font-size: 16px;
}



.title_area p {
    display: block;
    margin: -13px 0 0;
    line-height: 1;
    text-align: right;
}

.title_area .star,
.basic .star {
    color: #ef441f;
    vertical-align: middle;
    font-size: 12px;
}

.basic .txt {
    margin-left: 10px;
    color: #868686;
    font-size: 12px;
}

.basic th {
    padding: 10px 30px;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    background-color: #f6f6f6;
    height: 60px;
    width: 190px;
    line-height: 22px;
    vertical-align: middle;
    boder-top: none;
}

.basic td {
    padding: 10px 20px;
    border-right: none;
    border: 1px solid #e0e0e0;
}


.basic_tel {
    display: flex;
    gap: 8px;
}

.basic_tel input {
    width: 86px;
    height: 45px;
}

.basic_tel span {
    display: block;
    line-height: 45px;
    font-size: 17px;
}

.basic .name input {
    background-color: #F9F9F9;
}

.basic .hint {
    width: 450px;
    height: 45px;
    padding: 0 30px 0 10px;
    font-size: 12px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    background: #fff url(../images/icon_arrow_down.svg) no-repeat right 10px center;
    background-size: 11px auto;
}

.basic .answer {
    width: 450px;
}

.basic .txtInfo {
    margin-top: 20px;
    font-size: 12px;
}

.basic_addr {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.basic_addr input {
    background-color: #F9F9F9;
}

.basic_addr .basic {
    width: 450px;
}

.extra_addr input {
    width: 450px;
}

.basic_addr .search_btn {
    display: inline-block;
    margin-left: 10px;
    padding: 12px 20px;
    height: 40px;
    font-size: 13px;
    box-sizing: border-box;
    border: 1px solid #bcbcbc;
    line-height: 1;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    color: #000;
    background-color: #fff;
}


.basic_tel .mobile {
    width: 86px;
    height: 45px;
    background: #fff url(/images/icon_arrow_down.svg) no-repeat right 10px center;
    padding: 0 30px 0 10px;
    font-size: 12px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
}



.title_end {
    margin: 50px 0 20px;
}

.title_end h3 {

    font-size: 16px;
}

.more th {
    padding: 10px 30px;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f6f6f6;
    height: 60px;
    width: 190px;
    line-height: 15px;
    vertical-align: middle;
    border-left: 1px solid #e5e5e5;
}


.more_date {
    display: flex;
    gap: 8px;
    line-height: 20px;
    align-items: center;
}

.more_date input {
    max-width: 86px;

}

.more_date span {
    display: block;
    line-height: 40px;
    font-size: 13px;
}

.more td {
    padding: 10px 20px;
    border-right: none;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #e0e0e0;

}

.more_date .calendar {
    width: none;
}

.base {
    margin: 20px 0;
}

.bottom {
    margin: 50px 0 200px;
    text-align: center;
}

.bottom .cancel_btn {
    background-color: #fff;
    min-width: 135px;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    border: 1px solid #bcbcbc;
}

.bottom .edit_btn {
    min-width: 135px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    height: 40px;
    color: #fff;
    background-color: #000;
    font-weight: bold;
}

.bottom .delete_btn {
    min-width: 135px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    height: 40px;
    color: #fff;
    background-color: #ff0000;
    border: 1px solid #ff0000;
    font-weight: bold;
}