#wrap {
  width: 100%;
  height: 100%;
  padding: 0px 80px 200px;
  margin: 0 auto;
}

#container {
	margin-top: 0px;
	padding: 50px 0 60px;
}
#contents {
  max-width: 1920px;
  min-height: 800px;
  margin: 120px 0 0;
  padding: 0 0 0 210px;
  position: relative;
  clear: both;
}


.mypage_main {
  width: 100%;
  height: 100%;
}


.location {
  font-size: 13px;
  margin: 20px 0 0;
  height: 30px;
  line-height: 30px;
  float: right;
  margin-left: auto;
  position: relative;
  padding-bottom: 60px;
}

.location a {
  font-size: 12px;
  color: #7d7d7d;
}

.location a:last-child {
  font-weight: 700;
  color: #000;
}

.location a:not(:first-child)::before {
  content: "/";
  display: inline-block;
  margin: 0 4px 0 2px;
  color: #7d7d7d;
  font-size: 10px;
  vertical-align: middle;
}


.mypage_top {
  border-top: 1px solid #000;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  justify-content: space-around;
  padding: 28px 0 27px;
  display: flex;
  flex-wrap: wrap;
}


.mypage_top::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 30%;
  background-color: #e5e5e5;
  transform: translate(-50%, -50%);
}


/* .mypage_main ul {
  display: flex;
  flex-wrap: wrap;
} */

.mypage_main h2 {
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
}

.mypage_main p {
  display: block;
  font-weight: 400;
  color: #6d6d6d;
  box-sizing: border-box;
  margin: 2px 0 0;
  font-size: 13px;
}

.mypage_main .price {
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
}

.mypage_main .ph, .ph2 {
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
}

.mypage_main .count {
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
}

.mypage_main .title {
  display: block;
  color: #6d6d6d;
  font-size: 13px;
}

/* .mypage_main span:nth-of-type(5) {
  display: block;
  font-weight: 400;
  color: #6d6d6d;
  box-sizing: border-box;
  font-size: 13px;
  margin-top: -10px;
} */



.mypage_main li {
  /* position: relative; */
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
  /* padding: 28px 0 27px; */
  /* justify-content: center; */
  height: 100%;
}

.mypage_main li img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.titlearea {
  margin: 50px 0 20px;
  text-align: left;
  display: flex;
  align-items: center;
}

.titlearea h3 {
  font-size: 16px;
  font-weight: 700;
} 
.titlearea .desc {
  font-size: 13px;
  color: #6d6d6d
}

.titlearea span {
  font-size: 13px;
  color: #000000;
}

.Orderstatus {
  border-top: 1px solid #000;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

.Orderstatus ul {
  display: flex;
  flex-wrap: wrap;
}

.Orderstatus li {
  position: relative;
  width: 25%;
  padding: 35px 0 33px;
  text-align: center;
}

.Orderstatus li:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 13px;
  height: 13px;
  margin: -10px auto 0;
  border-left: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.Orderstatus .od_count {
  font-size: 30px;
}

.Orderstatus .label {
  display: block;
  margin: 10px 0 7px;
  font-size: 13px;
}

.title_area2 {
  margin: 50px 0 20px;
  text-align: left;
}

.title_area2 h3 {
  font-size: 16px;
  font-weight: 700;
}

.odder_list {
  /* height: 285px; */
  width: 100%;
  /* height: 100%; */
  border-top: 1px solid #000;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

.odder_list .odder_date {
  overflow: hidden;
  padding: 20px 0 20px 15px;
  font-size: 13px;
  background-color: #f6f6f6;
}

.odder_date .date {
  font-weight: 700;
  color: #000000;
}

.odder_date .number a {
  color:#000000;
}

.order_listwrap {
  position: relative;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  background: #fff;
}

.odder_info {
  position: relative;
  box-sizing: border-box;
  background: #fff;
  padding: 25px 0;
  display: flex;
  align-items: center; 
}

.odder_img {
  overflow: hidden;
  width: 83px;
  height: 83px;
  margin: 0 15px 0 0;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
}

.odder_info img {
  width: 100%;
}

.odder_detail {
  margin-top: -40px;
  flex: 1;
  line-height: 18px;
}

.odder_detail .odder_name {
  color: #000;
  display: block;
  margin: 0 0 3px;
  font-weight: normal;
  font-size: 13px;
  font-weight: 500;
}

.odder_detail .odder_price {
  font-size: 13px;
  color: #000;
  line-height: 20px;
}

.odder_cancel {
  padding: 18px 0;
  justify-content: flex-end;
}


.cancel_left {
  line-height: 32px;
}

.cancel_left .cancel {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}

.cancel_left .btnText {
  color: #000;
  font-weight: 400;
  font-size: 13px;
  display: inline-block;
  line-height: 18px;
  text-decoration: underline;
}

.odder_cancel:after {
  content: '';
  display: block;
  clear: both;
}

.odder_right .btnnormal {
  display: inline-block;
  padding: 12px 20px;
  height: 40px;
  font-size: 12px;
  box-sizing: border-box;
  border: 1px solid #bcbcbc;
  line-height: 1;
  font-weight: normal;
  text-decoration: none;
  vertical-align: middle;
  word-spacing: -0.5px;
  letter-spacing: 0;
  text-align: center;
  white-space: nowrap;
  color: #000;
  background-color: #fff;
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  margin-top: -55px;
}

.odder_right {
  display: flex;
  justify-content: flex-end;
}

.displaynone {
  display: none;
}

.paginate {
  margin: 80px 0;
  text-align: center;
  font-size: 0;
  line-height: 0;
}

.paginate > a {
  display: inline-block;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  box-sizing: border-box;
}

.paginate > a::after, 
.paginate > a:first-child::before, 
.paginate > a:last-child::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #000;
  vertical-align: middle;
  transform: rotate(45deg);
}

.paginate > a:first-child::after, 
.paginate > a:first-child::before, 
.paginate > a:first-child + a::after {
  transform: rotate(-135deg);
}

.paginate > a:first-child::before, 
.paginate > a:last-child::before {
  margin: 0 -1px;
}

.paginate ol {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
}

.paginate a.this {
  position: relative;
  z-index: 1;
  color: #000;
  border-color: #000;
}

.paginate li a {
  display: block;
  width: 40px;
  padding: 12px 0;
  font-size: 12px;
  color: #6d6d6d;
  border: 1px solid #e5e5e5;
  line-height: 14px;
  background: #fff;
  box-sizing: border-box;
}



.btnDetail {
  position: absolute;
  top: 19px;
  right: 19px;
  font-size: 13px;
  color: #000;
}

.rArrow {
  display: inline-block;
  overflow: hidden;
  width: 8px;
  height: 8px;
  text-indent: 120%;
  white-space: nowrap;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.myinfo_Main {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
}

.myinfo_Main h2 {
  font-size: 18px;
}

.myinfo_Main .subTitle {
  margin: 50px 0 0;
}

.myinfo_Main h3 {
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.myinfo_Main .menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.myinfo_Main .menu li a {
  margin: 10px 0 0;
  display: block;
  color: #6d6d6d;
  font-size: 13px;
  text-decoration: none;
}


















